
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignalRClient</title>
</head>


<body>
    <div id="dateTime"></div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script type="text/javascript">
        $.getScript('http://localhost:54367/Scripts/jquery.signalR-2.3.0.min.js', function () {
            $.getScript('http://localhost:54367/signalr/hubs', function () {
                $.connection.hub.url = 'http://localhost:54367/signalr';
                var hub = $.connection.crossDomainHub;

                hub.client.state = function (state) {
                    console.log(state);
                }

                hub.client.notify = function (notification) {
                    console.log(notification);
                }

                hub.client.clientList = function (clients) {
                    console.log(clients);
                }

                $.connection.hub.start().done(function () {
                    hub.server.initialize("mscott");
                });
            });
        });
    </script>
</body>
</html>
